/* ====== Headings ====== */
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
/*use all percentage unit*/
h1, .h1 {
	color: #202B30;
}

h2, .h2 {
	color: #4E7178;
}

h3, .h3 {
	/*color: #4FA9B8;*/
	color: #333;
}

h4, .h4 {
	color: #333;
}

h5, .h5 {
	color: #202B30;
}

h6, .h6 {
	color: #333;
}

